.image-item{
    width:200px;
    height:200px;
    float:left;
    border-radius: 10px;
    overflow: hidden;
    background-color:#eee;
    position:relative;
    margin:10px;
}
.image-item img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-width: 100%;
    z-index: 1;
}
.image-item:hover img{
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.tool-image{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 2;
    transition:all 0.5s;
    opacity: 0;
    text-align: center;
}

.tool-image .tool-item{
    transform:translateX(100px);
    opacity: 0;
    background-color:rgba(255, 255, 255, 0.4);
    width:50px;
    height:50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color:rgba(0, 0, 0, 0.9);
    border:none;
    outline: none;
    cursor: pointer;
    margin:5px 0;
    transition:all 0.5s;
}
.tool-image .tool-item:hover{
    background-color:rgba(255, 255, 255, 0.8);
}

.tool-image .tool-item:before{
    margin-left:0;
}
.image-item:hover .tool-image{
    opacity: 1;
}
.image-item:hover .tool-item{
    transform:translateX(0);
    opacity: 1;
}
.multi-upload-file .mark-input{
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    font-size:80px;
    text-align: center;
    color:#fff;
    font-weight: 100;

    width:200px;
    height:200px;
    border-radius: 10px;
    overflow: hidden;
    background-color:#eee;
    position:relative;
    margin:10px;
}
.multi-upload-file .mark-input span{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100px;
    height:100px;
    display: block;
    background:#3c8dbc;
    color:#fff;
    border-radius:50%;
    line-height: 100px;
    text-align: center;
}